.skillsText{
    margin-top: -13rem;
    height: 3rem;
    /* background-color: pink; */
    text-align: center;
     font-size: 3rem;
     color: #FFEA00;
}

.skillsSection{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 3rem;
    /* margin-left: 25%; */
    width: 100%;
    height: 30rem;
   
}

.skillsSectionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-basis: calc(33.33% - 10px); */
    height: 25rem;
    width: 63%; 
    background-color: #424136;
}

.skill{
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    margin-top: 0rem;
    margin: 3rem;
}