*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: transparent;
    text-decoration: none;
}

body{
    background: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    background: linear-gradient( #1b1a1a,rgb(40, 40, 32), #2d2e20,#242121, rgb(33, 33, 22));
}