

*{
    margin: 0px;
}

body
{
    background:rgb(35, 34, 34); 
}

form
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-top: 40px;
    color: white;
}


#form_content
{
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    width: 40%;
    height: 560px;
    border-radius: 50px;
    background: #09232b;
}

#first_name
{
    margin-top: 15px;
}



input{
    border-radius: 6px;
}

#file_to_upload
{
    border-radius: 10px;
    width: 300px;
}

#file_to_upload :hover{
    cursor: pointer;
    
}

footer
{
    background: black;
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    color: white;
    padding: 12px;
}   
