.wave{
    margin-top: 0px;
    height: 43vw;
    width: auto;
}

.invertedWave{
    margin-top: -18rem;
    height: 115vh;
    width: 100%;
}

.aboutMepara
{
    margin-top:9rem;  
    text-align: center;
    color: black;
}
.myImage{
    margin-top: 9rem;
    margin-left: -1rem;
    object-fit: cover;
}