.wave{
    margin-top: 0px;
    height: 43vw;
    width: auto;
}

.invertedWave{
    margin-top: -18rem;
    height: 115vh;
    width: 100%;
}

.aboutMepara
{
    text-align: center;
    color: black;
}